<div class="container-fluid">
    <div class="row align-items-end foot">
        <div class="col-12">
            <div class="row justify-content-start px-0">
                <div class="col-3 py-4 px-0 m-auto">
                    <p class="m-auto copyright">© Dennis Marrero</p>
                </div>
                <div class="col-6 py-4 px-0 m-auto">
                    <a href="https://github.com/Ben10Gigi" target="_blank"><i data-fa-symbol="github" class="fab fa-github"></i>
                    <svg class="footIcon mx-1"><use xlink:href="#github"></use></svg></a>
                    <a href="https://www.linkedin.com/in/dennis-m-23a870105/" target="_blank"><i data-fa-symbol="linkedin" class="fab fa-linkedin"></i>
                    <svg class="footIcon mx-1"><use xlink:href="#linkedin"></use></svg></a>
                    <a href="mailto:dennis.marrero29@gmail.com"><i data-fa-symbol="at" class="fas fa-at"></i>
                    <svg class="footIcon mx-1"><use xlink:href="#at"></use></svg></a>
                </div>
        </div>
    </div>
</div>