<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 px-0">
                <nav class="navbar navbar-expand-lg navbar-dark p-0 mainNav">
                <button class="navbar-toggler ml-auto mr-2 mt-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto w-100 justify-content-around">
                        <li class="nav-item homeNav mx-4">
                            <a class="nav-link p-3" href="..">Home</a>
                        </li>
                        <li class="nav-item projectsNav mx-4">
                            <a class="nav-link p-3" href="\projects">Projects</a>
                        </li>
                        <li class="nav-item resumeNav mx-4">
                            <a class="nav-link p-3" href="/assets/documents/Dennis_Marrero_Resume.pdf" target="_blank">Resume</a>
                        </li>
                        <li class="nav-item contactNav mx-4">
                            <a class="nav-link p-3" href="\contact">Contact</a>
                        </li>
                    </ul>
                </div>
                </nav>
            </div>
        </div>
    </div>